name: Deploy Docker Images
env:
  DOCKER_GITHUB: docker.pkg.github.com
  PKG_NAME: checkmarx-github-action
  TAG: latest
on:
  push:
    branches: 
      - master
jobs:
  linux-latest:
    name: Deploy Linux Docker Image - Latest
    runs-on: ubuntu-latest
    env:
      OS: linux
    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.4
    - name: Build Docker Image
      run: docker-compose build $PKG_NAME-$OS
    - name: Tag Docker Image
      run: docker tag $PKG_NAME-$OS:$TAG $DOCKER_GITHUB/$GITHUB_REPOSITORY/$PKG_NAME-$OS:$TAG
    - name: Docker Login
      run: docker login $DOCKER_GITHUB -u $GITHUB_ACTOR -p ${{secrets.GITHUB_TOKEN}}
    - name: Docker Push
      run: docker push $DOCKER_GITHUB/$GITHUB_REPOSITORY/$PKG_NAME-$OS:$TAG
  # windows-latest:
  #   name: Deploy Windows Docker Image - Latest
  #   runs-on: windows-latest
  #   env:
  #     OS: windows
  #   steps:
  #   - name: Checkout
  #     uses: actions/checkout@v2.3.4
  #   - name: Build Docker Image
  #     run: docker-compose build ${env:PKG_NAME}-${env:OS}
  #   - name: Tag Docker Image
  #     run: docker tag ${env:PKG_NAME}-${env:OS}:${env:TAG} ${env:DOCKER_GITHUB}/${env:GITHUB_REPOSITORY}/${env:PKG_NAME}-${env:OS}:${env:TAG}
  #   - name: Docker Login
  #     run: docker login ${env:DOCKER_GITHUB} -u ${env:GITHUB_ACTOR} -p ${{secrets.GITHUB_TOKEN}}
  #   - name: Docker Push
  #     run: docker push ${env:DOCKER_GITHUB}/${env:GITHUB_REPOSITORY}/${env:PKG_NAME}-${env:OS}:${env:TAG}